body {
    background-color: rgb(2, 2, 70);
    color: antiquewhite;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(100, 100, 3);
    color: antiquewhite;
    font-family: "Playfair Display", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 40%;
}